<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Centro de Memória FATEC</title>
  <link rel="stylesheet" href="../statics/styles/cards.css">
  <link rel="stylesheet" href="../statics/styles/information.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.4.120/pdf.min.js"></script>
</head>

<body>
  <a href="../index.html" class="btn-voltar">Voltar</a>

  <h1 id="titulo-principal">Centro de Memória FATEC - Entrevistas</h1>

  <div class="card-introducao" style="width: auto;">
    <div class="card-content-introducao">
      <h3 class="card-title">Olá! Essa página é dedicada aos professores que foram entrevistados pela Fatec. Saiba quem
        são.</h3>
    </div>
  </div>

  <div class="card-container entrevistas-container"></div>

  <section id="informacoes-detalhadas" style="display: none;"></section>

  <script type="module" src="../statics/js/renderProfessores.js"></script>
</body>

</html>